/* Pagination.css */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; /* Adds space between each button */
}

.pagination button {
  margin: 0 5px; /* Adds space between buttons */
  color:cornflowerblue;
}

.pagination button.disabled {
  opacity: 0.5;
  pointer-events: none;
  color:gray
}

.pointer
{
  cursor: pointer;
}

.default-layout {
  /* Normal layout styles */
}

.landscape-layout {
  /* Landscape layout styles */
}

.default-row {
  display: flex;
  flex-direction: row;
  /* Normal row styles */
}

.landscape-row {
  display: flex;
  flex-direction: column;
  /* Adjust styles for landscape mode */
}
